:root {
    --lightGrey: #ececec;
    --primaryDark: #1F2430;
    --grey: #cecece;
    --turquoise: #00c4a7;
    --white: #ffffff;
    --danger: #FE424D;
    --marginAuto: auto;
  }
$arialFont: Arial, Helvetica, sans-serif;